# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Entorno virtual
venv/
env/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
.env
*.env 